body {
    padding: 0;
    margin: 0;
    background-image: url(/fon.png);
    background-size: cover;
    background-position: center;
    /*font-family: sans-serif;*/
}
#logo {
    width: 320px;
    float: left;

}
/*#hop{
 
        /* Enable flex mode. */
    /*  display: flex; */ 
        
     


